.header {
    border-bottom: 5px solid Dodgerblue;
}

.header__wrapper {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-bottom: 0;
}

.search {
    position: relative;
}

.search input {
    border-radius: 25px;
}

.search__button {
    position: absolute;
    width: 16px;
    top: calc(50% - 8px);
    right: 15px;
    cursor: pointer;
}

.img_parent {
    width: 380px;
    height: 241px;
    margin: 15px;
    cursor: pointer;
    overflow: hidden;
}

.img_child {
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.img_parent:hover .img_child {
    transform: scale(1.1);
}

.gallery {
    min-height: 813px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.spinner-border {
    display: block;
}

main .container {
    text-align: center;
}